
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

p {
  margin-top: 1rem;
  font-size: large;
  max-width: 600px;
}

img {
  max-width: 70vw;
}

code {
  background: #eee;
  padding: 3px;
}

